# PyCharm
/.idea/
# VS Code
/.vscode
# Virtual environment
/.venv/
# Python
__pycache__/
# Meshes for 3D visualization
/meshes/

# Generated training data
/data/

# GAN
# Visualizations
/visualizations/
# Experiment tracking
/wandb/

# INN:
# Training logs inn
/log/
