cycler==0.10.0
kiwisolver==1.3.1
matplotlib==3.4.1
mpmath==1.2.1
numpy==1.20.2
Pillow==8.2.0
pyparsing==2.4.7
python-dateutil==2.8.1
scipy==1.6.3
six==1.16.0
sympy==1.8
torch==1.8.1
tqdm==4.61.0
typing-extensions==3.10.0.0
wandb==0.10.31
